@model PIM_DESENVOLTECH.Models.Login
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}

<div class="page">
    <link rel="stylesheet" href="~/css/Login.css">

    <main class="conteudo-principal">
        <div class="titulo">
            <h1 class="tech">Desenvoltech</h1>
        </div>
        <div class="forms-img">
            <form class="formulario" method="post" asp-action="ChecarUsuario">
                <fieldset class="form-content">
                    <legend>Faça o login com sua conta</legend>

                    @{
                        var mensagemErro = TempData["MensagemErro"] as string;
                    }
                    @if (!string.IsNullOrEmpty(mensagemErro))
                    {
                        <div class="alert alert-danger">
                            @mensagemErro
                        </div>
                    }

                    <label class="label">E-mail</label>
                    <input type="text" asp-for="NomeLogin" class="input-group fadeIn second" name="Login" placeholder="login">

                    <label for="senha" class="label">Senha</label>
                    <input type="password" asp-for="SenhaLogin" class="input-group fadeIn third" name="Senha" placeholder="password">

                    <div class="btns-form">
                        <div class="radio">
                            <input type="radio" id="radio">
                            <label for="radio">Lembrar a senha</label>
                        </div>
                        <a href="#">Esqueceu sua senha?</a>
                    </div>

                    <button type="submit" class="btn-form">Entrar</button>

                </fieldset>
            </form>
            <div class="logo">
                <img src="~/css/login.png" alt="">
            </div>
        </div>
    </main>
</div>
