@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(295deg, rgb(0, 157, 255) 50%, white 50%);
        font-family: 'Poppins', sans-serif;
    }

    .conteudo-principal {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .forms-img {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .label {
        text-align:;
    }


    a {
        text-decoration: none;
        right: 0;
    }



    .tech {
        font-size: 2.8em;
        text-transform: uppercase;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 4em;
        padding-top: 2em;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, .1);
        font-size: 1.5em;
    }


    legend {
        text-align: center;
        font-size: 1.5em;
        padding-top: 2em;
        border-radius: 2px;
    }

    .titulo h1 {
        font-size: 4em;
    }

    .label {
        width: 100%;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        padding: 0 5em;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: none;
        width: 400px;
        height: 400px;
        border-radius: 7px;
        margin-bottom: 3em;
    }

    .campo-entrada {
        width: 350px;
        padding: .7em;
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
    }

    .btn-form {
        width: 80%;
        padding: .7em;
        background-color: green;
        color: aliceblue;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .6s;
    }

        .btn-form:hover {
            transform: scale(1.06);
            background-color: rgb(105, 176, 0);
            box-shadow: 0px 0px 10px black;
        }

    .btns-form {
        display: flex;
        gap: 2em;
        align-items: center;
    }

        .btns-form a {
            font-size: 12px;
        }

        .btns-form label {
            font-size: 12px;
        }

    .logo {
        margin-right: 5em;
        border: 2px solid black;
        border-radius: 8px;
        object-fit: cover;
        background-color: white
    }

        .logo img {
            height: 250px;
            width: 370px;
            border-radius: 8px;
        }
</style>

<div class="page">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">

    <main class="conteudo-principal">
        <div class="titulo">
            <h1 class="tech">Desenvoltech</h1>
        </div>
        <div class="forms-img">
            <form class="formulario">
                <fieldset class="form-content">
                    <legend>Faça o login com sua conta</legend>
                    <label for="email" class="label">E-mail</label>
                    <input type="email" name="email" id="email" required placeholder="Digite seu email" class="campo-entrada">
                    <label for="senha" class="label">Senha</label>
                    <input type="password" name="senha" id="senha" required placeholder="Digite sua senha" class="campo-entrada">
                    <div class="btns-form">
                        <div class="radio">
                            <input type="radio" id="radio">
                            <label for="radio">Lembrar a senha</label>
                        </div>
                        <a href="#">Esqueceu sua senha?</a>
                    </div>

                    <button class="btn-form">Entrar</button>
                </fieldset>
            </form>
            <div class="logo">
                <img src="images/Captura_de_tela_2023-06-14_220520-removebg-preview.png" alt="">
            </div>
        </div>

    </main>


</div>