@model PIM_DESENVOLTECH.Models.Funcionario


<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .menu-lateral {
        background-color: #343a40;
        color: #fff;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .profile {
        display: flex;
        align-items: center;
    }

        .profile i {
            margin-right: 10px;
        }

    .nav-menu button {
        background: none;
        border: none;
        color: #fff;
        font-size: 16px;
        margin-bottom: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .nav-menu button i {
            margin-right: 10px;
        }

    .edit-form-container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .edit-form-container h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Editar Funcionário</title>
</head>
<html
<body>
   

   <div class="edit-form-container">
        <h1 class="text-center">Editar Funcionário</h1>
        @using (Html.BeginForm("SalvarEdicao", "EditarFuncionario", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.IdFuncionario)
            @Html.HiddenFor(model => model.logins.Id)
                <div class="form-group">
                    <label asp-for="NomeCompleto" class="form-label">Nome Completo</label>
                    <input asp-for="NomeCompleto" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Salario" class="form-label">Salário</label>
                    <input asp-for="Salario" class="form-control" />
                </div>
                     <div class="form-group">
                        <label asp-for="Departamento" class="form-label">Departamento</label>
                        <input asp-for="Departamento" class="form-control" />
                    </div>

                <div class="form-group">
                    <label asp-for="NomeCargo" class="form-label">Nome do Cargo</label>
                    <input asp-for="NomeCargo" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="DataAdmissao" class="form-label">Data de Admissão</label>
                    <input asp-for="DataAdmissao" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Nascimento" class="form-label">Data de Nascimento</label>
                    <input asp-for="Nascimento" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Idade" class="form-label">Idade</label>
                    <input asp-for="Idade" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="RG" class="form-label">RG</label>
                    <input asp-for="RG" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="CPF" class="form-label">CPF</label>
                    <input asp-for="CPF" class="form-control" />
                </div>

                
                <div class="text-center mt-3">
                 
                    <a asp-controller="EditarFuncionario" asp-action="Index" type="submit" class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Salvar Edição</button>
                </div>
        }
    </div>
</body>
</html>