@model PIM_DESENVOLTECH.Models.Funcionario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/teste.css">
    <title>Home</title>
</head>
<body>

    <link rel="stylesheet" href="~/css/teste.css">
    <aside class="menu-lateral">
        <header class="header-menu">

            <div class="profile">
                <i class="fa-solid fa-user"></i>
                <span>@Context.Session.GetString("sessaoUsuarioNome")</span>
            </div>

            <nav class="nav-menu">
                <form>
                    <button asp-action="CalculoPagamento">
                        <i class="fa-solid fa-calculator"></i>
                        <span>Cálcular Pagamento</span>
                    </button>

                    <button asp-action="FolhaPontoLateral">
                        <i class="fa-solid fa-clock"></i>
                        <span>Registro de Ponto</span>
                    </button>

                    <button asp-action="FeriasLateral">
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <span>Relação de férias</span>
                    </button>

                    <button asp-action="CadastrarFuncionarioLateral">
                        <i class="fa-solid fa-plus"></i>
                        <span>Cadastrar funcionário</span>
                    </button>

                    <div class="log-out">
                        <button asp-action="SairSistema">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Sair</span>
                        </button>
                    </div>
                </form>

            </nav>

        </header>
    </aside>

    <main class="dados-content">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title">Cadastrar funcionário</h1>
                    </div>
                    <div>
                        <h5>Dados Pessoais</h5>
                    </div>
                    <div class="col-md-3 fields">
                        <label for="">Nome:</label>
                        <input asp-for="NomeCompleto" name="NomeCompleto" id="inpNome" class="form-control" type="text">
                    </div>
                    <div class="col-md-3 fields">
                        <label for="">CPF:</label>
                        <input asp-for="CPF" name="CPF" id="inpCPF" class="form-control" type="text">
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 fields">
                        <label for="">RG:</label>
                        <input asp-for="RG" id="inpRG" name="RG" class="form-control" type="text">
                        <span asp-validation-for="RG" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="inpEmail">Email:</label>
                        <input asp-for="Email" name="Email" id="inpEmail" class="form-control" type="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="inpNascimento">Nascimento:</label>
                        <input asp-for="Nascimento" id="inpNascimento" name="Nascimento" class="form-control" type="date">
                        <span asp-validation-for="Nascimento" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="inpIdade">Idade:</label>
                        <input asp-for="Idade" id="inpIdade" name="Idade" class="form-control" type="number">
                        <span asp-validation-for="Idade" class="text-danger"></span>
                    </div>

                    <hr />
                    <div>
                        <h5>Dados Empregador</h5>
                    </div>
                    <div class="col-md-3 fields">
                        <label for="">Cargo</label>
                        <select asp-for="NomeCargo" name="NomeCargo" id="selectCargo" class="form-control">
                            <option value="Analista">Analista de TI</option>
                            <option value="Analista Financeiro">Analista Financeiro</option>
                            <option value="Desenvolvedor">Desenvolvedor</option>
                            <option value="Analista de Dados">Analista de Dados</option>
                            <option value="Assistente">Assistente Geral</option>
                            <option value="Assistente">Diretor</option>
                            <option value="Advogado">Advogado</option>
                            <option value="Porteiro">Porteiro</option>
                            <option value="Gerente de RH">Gerente de RH</option>                  
                        </select>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Departamento</label>
                        <select asp-for="Departamento" name="Departamento" id="selectDepartamento" class="form-control">
                            <option value="TI">TI</option>
                            <option value="Recursos Humanos">Recursos Humanos</option>
                            <option value="Marketing">Marketing</option>  
                            <option value="Contabilidade">Contabilidade</option>
                            <option value="Financeiro">Financeiro</option>
                            <option value="Almoxarifado">Almoxarifado</option>
                            <option value="Diretoria">Diretoria</option>
                        </select>
                        <span asp-validation-for="Departamento" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Salário:</label>
                        <input asp-for="Salario" name="Salario" id="inpSalario" class="form-control" type="number">
                        <span asp-validation-for="Salario" class="text-danger"></span>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Data Admissão:</label>
                        <input asp-for="DataAdmissao" name="DataAdmissao" id="inpAdmissao" class="form-control" type="date">
                        <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                    </div>

                    <hr />

                    <div>
                        <h5>Dados Logradouro</h5>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Nome da Rua</label>
                        <input asp-for="NomeRua" name="NomeRua" id="inpNomeRua" class="form-control" type="text">
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">CEP</label>
                        <input asp-for="CEP" name="CEP" id="inpNomeRua" class="form-control" type="text">
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Número:</label>
                        <input asp-for="NumeroRua" name="NumeroRua" id="inpNumeroCasa" class="form-control" type="number">
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Complemento</label>
                        <input asp-for="Complemento" name="Complemento" id="inpComplemento" class="form-control" type="text">
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Estado:</label>
                        <select asp-for="Estado" name="Estado" id="inpEstado" class="form-control">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Cidade:</label>
                        <input asp-for="Cidade" name="Cidade" id="inpCidade" class="form-control" type="text">
                    </div>

                    <hr />

                    <h5>Cadastro Login</h5>

                    <div class="col-md-3 fields">
                        <label for="">Nome de Acesso</label>
                        <input asp-for="logins.NomeLogin" name="NomeLogin" id="inpNomeLogin" class="form-control" type="text">
                    </div>

                    <div class="col-md-3 fields">
                        <label for="">Senha de Acesso</label>
                        <input asp-for="logins.SenhaLogin" name="SenhaLogin" id="inpSenhaLogin" class="form-control" type="password">
                    </div>

                    <div class="col-md-1 fields">
                       
                        <input  asp-for="logins.IsAdm" name="IsADM" id="inpIsADM" class="form-control" type="checkbox">
                    </div>


                    <div class="col-md-12 fields">
                        <button asp-action="CadastrarFuncionarioBanco" type="submit" class="btn btn-success float-right">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </main>




</body>
</html>