<body>
    <link rel="stylesheet" href="~/css/teste.css">
    <aside class="menu-lateral">
        <header class="header-menu">

            <div class="profile">
                <i class="fa-solid fa-user"></i>
            </div>

            <nav class="nav-menu">
                <form>
                    <button>
                        <i class="fa-solid fa-calculator"></i>
                        <span>Cálcular férias</span>
                    </button>

                    <button asp-action="ApontamentoHoras">
                        <i class="fa-solid fa-clock"></i>
                        <span>Apontamento de horas</span>
                    </button>

                    <button>
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <span>Relação de férias</span>
                    </button>

                    <button asp-action="CadastrarFuncionario">
                        <i class="fa-solid fa-plus"></i>
                        <span>Cadastrar funcionário</span>
                    </button>

                    <div class="log-out">
                        <button>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Sair</span>
                        </button>
                    </div>
                </form>

            </nav>

        </header>
    </aside>

    <main class="dados-content">
        <h1 class="tech">Desenvoltech</h1>
    </main>

</body>